.DS_Store
C\ Sharp/.DS_Store
C\ Sharp/Sofe/.DS_Store
C\ Sharp/Sofe/Sofe.sln
C\ Sharp/Sofe/Sofe.userprefs
C\ Sharp/Sofe/bin/
C\ Sharp/Sofe/obj/
Java/.DS_Store
Java/Sofe/.DS_Store
Java/Sofe/.idea/
Java/Sofe/Sofe.iml
Java/Sofe/src/test/.DS_Store
Java/Sofe/src/test/java/.DS_Store
Java/Sofe/target/
